name: Auto Run makeMD in Folders

permissions:
  contents: write

on:
  push:
    branches: [ main ]
    paths:
      - 'Competition/**'
      - 'Olympiad/**'
      - 'Technology/**'
      - 'University/**'

  workflow_dispatch:

jobs:
  run-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run makeMD.py inside each folder
        run: |
          for d in Competition Olympiad Technology University; do
            echo "Running makeMD.py inside $d"
            (cd $d && python makeMD.py)
          done

      - name: Commit and push changes if any
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add .

          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Auto update markdown indexes"
            git push
          fi
